/* * {
  border: 0;
  margin: 0;
  padding: 0;
} */

body {
  background-color: whitesmoke;
}

.thumb-details {
  border-bottom: 2px groove whitesmoke;
  width: 100%;
}

.div-details-title {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 10px auto 40px;
}

.div-details-title > div > span {
  color: #595959;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.ingredients > h4 {
  margin-left: 5px;
}

.ingredients > div {
  padding: 15px 0 0;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #f6e32a;
  margin-top: 12px;
  margin: 20px auto 20px;
  box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.75) inset;
}

.instructions {
  margin: 20px 0 20px;
}

.instructions > h4 {
  margin-left: 5px;
}

.instructions > p {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #f6e32a;
  margin-top: 12px;
  box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.75) inset;
}

iframe {
  margin: 0 0 20px 0;
  border-radius: 10px;
}

.start-btn {
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff722b;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.start-btn:hover {
  background-color: #f84737;
}

.start-btn:active {
  background-color: #f84737;
}
