body {
  background-color: whitesmoke;
}

.thumb-details {
  border-bottom: 2px groove whitesmoke;
  width: 100%;
}

.div-details-title {
  display: flex;
  justify-content: space-between;
  margin: 10px auto 40px;
  width: 95%;
}

.div-details-title > div > span {
  color: #595959;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
}

.ingredients > h4 {
  margin-left: 5px;
}

.ingredients > div {
  background: linear-gradient(
    45deg,
    rgba(246, 227, 42, 1) 0%,
    rgba(251, 244, 172, 1) 100%
  );
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.75) inset;
  margin: 20px auto;
  margin-top: 12px;
  padding: 15px 0 0;
}

.instructions {
  margin: 20px 0;
}

.instructions > h4 {
  margin-left: 5px;
}

.instructions > p {
  background: linear-gradient(
    45deg,
    rgba(246, 227, 42, 1) 0%,
    rgba(251, 244, 172, 1) 100%
  );
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.75) inset;
  margin-top: 12px;
  padding: 15px;
}

iframe {
  border-radius: 10px;
  margin: 0 0 20px;
}

.start-btn {
  background-color: #bebebe;
  border: none;
  border-radius: 5px;
  left: 50%;
  padding: 10px;
  transform: translateX(-50%);
}

.start-btn:active {
  background-color: darkgray;
}
