.checked {
  text-decoration: line-through;
}

.ingredients > div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.ingredients > div > label {
  padding: 5px 0 2px;
}

.ingredients > div > label > input {
  margin-right: 10px;
}

.finish-btn {
  background-color: #f84737;
}
