@media (min-width: 320px) {

  .allRender {
    display: grid;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .headerCss {
    max-width: 20%;
  }

  .titleCss {
    margin-top: 1%;
    background-color: #F84737;
    padding: 5px 42px 5px 42px;
    border-radius: 8px;
    box-shadow: 3px 5px 5px #F8988F;
  }

  .divBtnCss {
    margin-left: 18%;
    margin-top: 1%;
    border: none;
    margin-bottom: 1%;
  }

  .allBtn {
    border: none;
    background-color: #F84737;
    padding: 3px 23px 3px 23px;
    border-radius: 8px;
    margin-right: 5px;
    box-shadow: 3px 5px 5px #F8988F;
  }

  .foodBtn {
    border: none;
    background-color: #F84737;
    padding: 3px 13px 3px 13px;
    border-radius: 8px;
    box-shadow: 3px 5px 5px #F8988F;
  }

  .drinkBtn {
    border: none;
    background-color: #F84737;
    padding: 3px 10px 3px 10px;
    border-radius: 8px;
    margin-left: 5px;
    box-shadow: 3px 5px 5px #F8988F;
  }

  .allCards {
    display: grid;
    grid-template-columns: 180px 180px;
    margin-top: 1%;
    max-width: 200px;
    margin-left: 0%;
    margin-bottom: 50px;
  }

  .imgCss {
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 5px 5px #a5a3a3;
  }

  .paraCss {
    margin-top: 50px;
    font-weight: bold;
    font-size: 20px;
  }

  .recipeCss {
    margin-left: 50px;
    color: black;
  }

  .typeRecipeCss {
    font-weight: bold;
    align-items: center;
    max-width: 85%;

  }

  .dateCss {
    font-weight: bold;  
  }

  .shareBtn {
    border: none;
    background-color: #F84737;
    padding: 3px 23px 3px 23px;
    border-radius: 8px;
    margin-right: 5px;
    box-shadow: 3px 5px 5px #F8988F;
  }
}