input:checked + label {
  color: green;
  text-decoration-line: line-through;
}

/* input[type="checkbox"]:checked {
  box-shadow: 0 0 0 3px hotpink;
} */

.checked {
  text-decoration: line-through;
}
